.body {
    background-color: mediumslateblue;
    color: black;
  
  }
  
  .tablez {
    border: 3px solid purple;
  }
  
  .tablez th,
  .tablez tbody td {
    border-right: 1px solid purple;
    border-bottom: 1px solid purple;
  }
  
  .center, a.center {
    text-align: center !important;
  }
  
  .minor {
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 12px;
  }
  
  .minor th:nth-child(3) {
    width: 75px;
    /* Spin dmg column fix */
  }
  
  .minor th,
  .minor td {
    padding: 2px;
    padding-left: 5px;
  }
  
  .minor thead tr {
    background-color: rgb(139, 139, 139);
  }
  
  .minor tbody tr {
    background-color: rgb(223, 223, 223);
    color: black;
  }
  
  .display-heading {
    color: rgb(231, 188, 44);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 2rem;
  }
  
  .display-title {
    text-decoration: underline;
    color: rgb(231, 188, 44);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-underline-offset: 2px;
    margin-bottom: 1.5rem;
  }
  
  .content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: left;
    border: 5px solid purple;
    border-radius: 20px;
    background-color: mediumpurple;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .contentz {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: left;
    border: 5px solid purple;
    border-radius: 20px;
    background-color: mediumpurple;
    width: 50%;
  }
  
  #RuleWindow {
    width: 100%;
    height: 65vh;
  }
  
  #head-table {
      margin: auto;
      margin-bottom: 1rem;
      border: 2px solid black;
      background-color: rgb(194, 150, 238);
      font-size: 12px;
  }
  table#head-table > tr {
    border-right: 1px solid black;
  }
  .notepad {
    width: 100%;
    margin-bottom: 3vh;
  }
  
  th#removeBorder {
    border-right: 3px solid purple;
    border-left: 3px solid mediumpurple;
    border-bottom: 3px solid purple;
    border-top: 3px solid mediumpurple;
    background-color: mediumpurple;
  }
  
  div.toggleFlex {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #statAbilities.toggleFlex {
    grid-template-columns: auto auto;
  }
  
  .off {
    color: red;
  }
  
  #toggleFlex p  {
    color: lime;
  }
  
  
  #stone {
      border: 3px solid purple;
  }
  
  #stone th, #stone td {
      border-right: 1px solid purple;
      text-align: center;
      padding: 0.25rem;
  }
  
  #stone th:last-child, #stone td:last-child {
      border-right: unset;
  }
  
  #stone th:nth-child(1) {
      width: 87px;
  }
  
  #stone th:nth-child(2) {
      width: 200px;
  }
  
  #stone thead {
      background-color: rgb(196, 111, 218);
  }
  
  #stone tbody {
      background-color: rgb(209, 209, 209);
  }
  
  h2.display-heading, #toggleFlex p {
    cursor: pointer;
  }
  
  #toggleFlex p.off {
    color: red;
  }
  div#weapFeats > p {
    font-weight: bold;
  }
  
  .warning-line {
    border: none;
  }
  
  .navbar {
      list-style-type: none;
      background-color: purple;
      margin: 0;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      border-bottom: 2px solid white;
      text-align: center;
      position: fixed;
      width: 100%;
      margin-bottom: 25px;
      z-index: 2;
  }
  
  #navTitle {
    position: absolute;
    bottom: 1%; /* fix this to be in center once image is impletmented */
    right: 39%;
  }
  
  #healthText {
    float: right;
  }
  
  #inspiration {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }

.dynamic-check {
  margin: 4px;
}

.dynamic-check:last-of-type {
  margin-right: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number], textarea {
  -moz-appearance: textfield;
  max-width: fit-content;
  background-color: purple;
  color: white;
  max-width: 100%;
  height: 3.5vh;
}

#input-table > thead > tr > *, #input-table > tbody > tr > td  {
  border: 2px solid black !important;
  border-collapse: collapse;
  background-color: mediumpurple;
}

textarea {
  width: 80%;
}

.PBSelect {
  width: 75px;
}

iframe {
  width: 100%;
 height: 750px;
}

table.blankTable > * > * > * {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: white;
  color:black
}

table#input-table {
  overflow-x: scroll;
  max-width: 100%;
}

section {
  border-bottom: 2px dashed purple;
  margin: 10px;
}

section#last {
  border-bottom: none;
}

.equation {
  color: rgb(221, 44, 80);

  background-color: rgb(222,222,222,0.3);
}

.invis {
  color: white;
  font-size: 15px;
}

img[src="statblock.webp"] {
  border-radius: 20px;
  max-width: 100%;
  max-height: inherit;
}

#finalize {
  display: none;
}